include xsd/*
include man/*
include LICENSE
include README
include ChangeLog
include MANIFEST.in
include TODO
include preinstall
include fakeinstall
include postinstall
include common/*
include engines/*
include engines/meego/*
include engines/default/*
include web/*
