include xsd/*
include man/*
include unittest/*
include unittest/tree_test_graph/*
include LICENSE
include README
include ChangeLog
include MANIFEST.in
include TODO
include fakeinstall
include postinstall
